
<aside class="menu">
<h3 class="menu-label is-3">
    2020
  </h3>
    <ul class="menu-list">
    <% @videos.each do |video| %>
            <% if video.date.include? "2020-12" %>
     <li>
      <a class="is-active">December</a>
      <ul>
        <% @videos.each do |video| %>
            <% if video.date.include? "2020-12" %>
                <li> <%= link_to video.name, video_path(video) %> </li>
            <% end %>
        <% end %>
      </ul>
    </li>
        <% end %>
        <% end %>
    <% @videos.each do |video| %>
            <% if video.date.include? "2020-11" %>
     <li>
      <a class="is-active">November</a>
      <ul>
        <% @videos.each do |video| %>
            <% if video.date.include? "2020-11" %>
                <li> <%= link_to video.name, video_path(video) %> </li>
            <% end %>
        <% end %>
      </ul>
    </li>
        <% end %>
        <% end %>
  <% @videos.each do |video| %>
    <% if video.date.include? "2020-10" %>
     <li>
      <a class="is-active">October</a>
      <ul>
        <% @videos.each do |video| %>
            <% if video.date.include? "2020-10" %>
                <li> <%= link_to video.name, video_path(video) %> </li>
            <% end %>
        <% end %>
      </ul>
    </li>
        <% end %>
        <% end %>
     <li>
      <a class="is-active">September</a>
      <ul>
        <% @videos.each do |video| %>
            <% if video.date.include? "2020-09" %>
                <li> <%= link_to video.name, video_path(video) %> </li>
            <% end %>
        <% end %>
      </ul>
    </li>
     <li>
      <a class="is-active">August</a>
      <ul>
        <% @videos.each do |video| %>
            <% if video.date.include? "2020-08" %>
                <li> <%= link_to video.name, video_path(video) %> </li>
            <% end %>
        <% end %>
      </ul>
    </li>
     <li>
      <a class="is-active">July</a>
      <ul>
        <% @videos.each do |video| %>
            <% if video.date.include? "2020-07" %>
                <li> <%= link_to video.name, video_path(video) %> </li>
            <% end %>
        <% end %>
      </ul>
    </li>
     <li>
      <a class="is-active">June</a>
      <ul>
        <% @videos.each do |video| %>
            <% if video.date.include? "2020-06" %>
                <li> <%= link_to video.name, video_path(video) %> </li>
            <% end %>
        <% end %>
      </ul>
    </li>
    <li>
      <a class="is-active">May</a>
      <ul>
        <% @videos.each do |video| %>
            <% if video.date.include? "2020-05" %>
                <li> <%= link_to video.name, video_path(video) %> </li>
            <% end %>
        <% end %>
      </ul>
    </li>
        <li>
      <a class="is-active">April</a>
      <ul>
        <% @videos.each do |video| %>
            <% if video.date.include? "2020-04" %>
                <li> <%= link_to video.name, video_path(video) %> </li>
            <% end %>
        <% end %>
      </ul>
    </li>
    <li>
      <a class="is-active">March</a>
      <ul>
        <% @videos.each do |video| %>
            <% if video.date.include? "2020-03" %>
                <li> <%= link_to video.name, video_path(video) %> </li>
            <% end %>
        <% end %>
      </ul>
    </li>
    <li>
      <a class="is-active">February</a>
      <ul>
        <% @videos.each do |video| %>
            <% if video.date.include? "2020-02" %>
                <li> <%= link_to video.name, video_path(video) %> </li>
            <% end %>
        <% end %>
      </ul>
    </li>
    <li>
      <a class="is-active">January</a>
      <ul>
        <% @videos.each do |video| %>
            <% if video.date.include? "2020-01" %>
                <li> <%= link_to video.name, video_path(video) %> </li>
            <% end %>
        <% end %>
      </ul>
    </li>
  </ul>

  <h3 class="menu-label is-3">
    2019
  </h3>
  <ul class="menu-list">
    <li>
      <a class="is-active">December</a>
      <ul>
        <% @videos.each do |video| %>
            <% if video.date.include? "2019-12" %>
                <li> <%= link_to video.name, video_path(video) %> </li>
            <% end %>
        <% end %>
      </ul>
    </li>
    <li>
      <a class="is-active">November</a>
      <ul>
        <% @videos.each do |video| %>
            <% if video.date.include? "2019-11" %>
                <li> <%= link_to video.name, video_path(video) %> </li>
            <% end %>
        <% end %>
      </ul>
    </li>
    <li>
      <a class="is-active">October</a>
      <ul>
        <% @videos.each do |video| %>
            <% if video.date.include? "2019-10" %>
                <li> <%= link_to video.name, video_path(video) %> </li>
            <% end %>
        <% end %>
      </ul>
    </li>
  </ul>
</aside>
