<div class="tile is-ancestor">
  <div class="tile is-4 is-vertical is-parent">
    <div class="tile is-child box">
      <h1 class="title">
        <%= @video.name %>
      </h1>
      <h5 class="subtitle">
        By <%= link_to @video.student.name, student_path(@video.student) %> |  <%= @video.date %> <br><br> 
      </h5>

        👏 <% @video.likes.each do |like| %> 
        <%= like.number %>
        <% end %> <br> <br>
    <% if @video.student.id == session[:student_id] %>
         <%= form_tag blog_path(@blog),method: :delete do %>
        <button class="button is-small is-pulled-left">Delete</button>
        <% end %> 
        <%= form_tag edit_blog_path(@blog),method: :get do %>
        <button class="button is-small is-pulled-right">Edit</button>
        <% end %> 

    <% end %>
    </div>
    </div>
     <div class="tile is-parent">
    <div class="tile is-child box">
    <iframe width="490" height="275" src="<%= @video_id %>" frameborder="0"></iframe> <br>
      <p class="title"></p>
    </div>
  </div>
  <div class="tile is-parent">
    <div class="tile is-child box">
      <%= @video.description%>
    </div>
  </div>
</div>





