<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flatiron Blog Net</title>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar has-background-info" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a href="/" class="navbar-item has-text-warning" style="font-size:36px;">Flatiron Blog Net</a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start has-text-warning">
                <a href="/students" class="navbar-item has-text-white"> Students </a>
            <div class="dropdown is-hoverable">
              <div class="dropdown-trigger">
                <p class="pt-5 pr-3 has-text-white">
                  <span>Create</span>
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                <div class="dropdown-content">
                  <div class="dropdown-item">
                  <a href= <%= new_blog_path %> class="dropdown-item">
                    Publish a new blog post
                  </a>
                  <a href= <%= new_video_path %> class="dropdown-item">
                    Upload a new video
                  </a>      
                  </div>
                </div>
              </div>
            </div>   
            <div class="dropdown is-hoverable">
              <div class="dropdown-trigger">
                <p class="pt-5 has-text-white">
                  <span>Archive</span>
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                <div class="dropdown-content">
                  <div class="dropdown-item">
                  <a href= <%= blogs_path %> class="dropdown-item">
                    Blogs
                  </a>
                  <a href= <%= videos_path %> class="dropdown-item">
                    Videos
                  </a>      
                  </div>
                </div>
              </div>
            </div>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div style="margin-right:30px; color:white;">Welcome <%= @student.name %></div>
                    <div class="buttons">

                    <div class="modal">
                      <div class="modal-background"></div>
                      <div class="modal-content">
                        Edit
                      </div>
                      <button class="modal-close is-large" aria-label="close"></button>
                    </div>


                    
                      <a href= <%= edit_student_path(@student) %> class="button is-primary">Edit Profile </a>
                      
                      
                      
                      
                      
                      
                      
                      <a href="/logout" class="button is-light"> Log Out </a>
                    </div>
                </div>
            </div>
        </div>
      </nav>
    </header>

    <%= yield %>

    <footer >
      <div style="padding:50px; min-height:200px;" class="is-medium has-background-info is-bold">
        <p style="text-align:center;" class="has-text-white">Made By: Gabbi and Eric</p>
      </div>
    <footer>
  </body>
</html>


