<!DOCTYPE html>
<html>
  <head>
    <title>Flatiron Colletion Net</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<!-- <% if logged_in? -%>Welcome, <%= current_user.name %><% end -%> -->
  <body>
    <header>

      <div class="container is-fullhd">
        <div class="notification is-primary">
          This container is <strong>fullwidth</strong> <em>until</em> the <code>$fullhd</code> breakpoint.
        </div>
      </div>
      
      <div class="navigation">
        <ul>
          <a href="/students">Students</a>
          <a href="/blogs">Blogs</a>
        </ul>
      </div>
    <header>

    <%= yield %>

    <footer>
    
    <footer>
  </body>
</html>